= simple_form_for [@contribution.batch, @contribution] do |f|
  = render partial: 'shared/contributor_select', locals: { f: f }
  = f.input :date, as: :string, label: "Date",
    input_html: { placeholder: "mm/dd/yyyy",
      value: @contribution.date_string,
      class: "datepicker", id: 'contribution-date' }
  = f.input :amount
  = f.input :payment_type, label: "Payment Type", collection: [ "Check", "Cash", "Other" ], selected: "Check"
  = f.input :reference
  .buttons
    = f.button :submit, "Save", class: "btn btn-default"
    = link_to "Cancel", batch_contributions_path(@batch), class: "btn btn-default"
    - if @contribution.id
      = link_to "Delete", batch_contribution_path(@batch, @contribution),
        method: :delete,
        data: { confirm: "Are you sure?" },
        class: "btn btn-default"

