= simple_form_for [@batch, @contribution], remote: true do |f|
  .row
    .col-md-2
      = render partial: 'shared/contributor_select', locals: { f: f }

    .col-md-2
      = f.input :date, as: :string, label: 'Date',
        input_html: { value: @contribution.date_string,
          class: 'datepicker', id: 'contribution-date' }
    .col-md-2
      = f.input :amount
    .col-md-2
      = f.input :payment_type, label: 'Payment Type',
        collection: [ 'Check', 'Cash', 'Other' ], selected: 'Check'
    .col-md-2
      = f.input :reference
    .col-md-2
      .form-group
        %label.control-label &nbsp;
        = f.button :submit, 'Add', :class => 'btn-default form-control'
