<%= simple_form_for @contributor, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :first_name, label: 'First Name', input_html: { autofocus: 'autofocus' } %>
  <%= f.input :last_name, label: 'Last Name' %>
  <%= f.input :household_name, label: 'Household Name', input_html: { placeholder: 'Leave blank for default' } %>
  <%= f.input :address %>
  <%= f.input :city %>
  <%= f.input :state %>
  <%= f.input :zip %>
  <%= f.input :phone %>
  <%= f.input :email %>
  <div class="buttons">
    <%= f.button :submit, 'Save', :class => 'btn' %>
    <%= link_to 'Cancel', active_contributors_path, :class => 'btn' %>
    <% if @contributor.id %>
      <%= link_to 'Delete', active_contributor_path(@contributor),
        method: :delete,
        data: { confirm: 'Deleting this contributor will delete any associated contributions. Are you sure?' },
        class: 'btn' %>
    <% end %>
  </div>
<% end %>
