<h1>Contributors</h1>
<%= form_tag active_contributors_path, method: 'get', id: 'contributor-search', class: 'form-inline' do %>
  <div class="form-group">
    <label class="sr-only">Contributor Name</label>
    <%= text_field_tag :query, params[:query], class: 'form-control', placeholder: 'Contributor Name' %>
  </div>
  <%= submit_tag 'Search', name: nil, class: 'btn btn-default' %>
<% end %>
<div id="contributors">
  <%= render 'contributors' %>
</div>
<%= link_to 'New Contributor', new_active_contributor_path, :class => 'btn btn-default' %>
