<h1>Welcome</h1>
<p>Please create an admin user to get started<p>
<br />
<%= simple_form_for @user, html: { class: 'form-horizontal' } do |f| %>
  <%= f.input :username, input_html: { autofocus: 'autofocus' } %>
  <%= f.input :password %>
  <%= f.input :password_confirmation %>
  <%= f.input :user_type, as: :hidden, input_html: { value: User::ADMIN_USER_TYPE } %>
  <%= f.submit :class => 'btn' %>
<% end %>
