<%= simple_form_for @contribution, remote: true do |f| %>
  <div class="row">
    <%= f.input :status, as: :hidden %>
    <%= f.input :batch_id, as: :hidden %>
    <div class="col-md-2">
      <%= f.input :contributor_id, required: true do %>
        <input type="text" id="contributor-name" name="contributor_name" autofocus="autofocus" class="form-control"
          value="<%= (@contribution.contributor ? @contribution.contributor.name : '') %>" />
        <input type="hidden" class="required" id="contribution_contributor_id" name="contribution[contributor_id]"
          value="<%= (@contribution.contributor ? @contribution.contributor.id : '') %>" />
      <% end %>
      <script type="text/javascript">
        var contributors = <%= Contributor.all.map { |c| { id: c.id, name: c.name } }.to_json.html_safe %>;
        $('#contributor-name').typeahead({
          source: contributors,
          itemSelected: function(item, val, text) {
            $('#contribution_contributor_id').val(parseInt(val, 10));
          }
        });
      </script>
    </div>
    <div class="col-md-2">
      <%= f.input :date, as: :string, label: 'Date',
        input_html: { value: @contribution.date_string, class: 'datepicker' } %>
    </div>
    <div class="col-md-2">
      <%= f.input :amount %>
    </div>
    <div class="col-md-2">
      <%= f.input :payment_type, label: 'Payment Type',
        collection: [ 'Check', 'Cash', 'Other' ], selected: 'Check' %>
    </div>
    <div class="col-md-2">
      <%= f.input :reference %>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <label class="control-label">&nbsp;</label>
        <%= f.button :submit, 'Add', :class => 'btn-default form-control' %>
      </div>
    </div>
  </div>
<% end %>
