<h1>Statements</h1>
<%= form_tag statements_path do %>
  <div class="control-group">
    <label class="control-label">Year</label>
    <div class="controls">
      <select name="year" class="span2">
        <%= @years.each do |year| %>
          <option value="<%= year %>"><%= year %></option>
        <% end %>
      </select>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Message to Contributors</label>
    <div class="controls">
      <div class="textarea">
        <textarea name="message" class="span6"></textarea>
      </div>
    </div>
  </div>
  <%= submit_tag 'Submit', class: 'btn' %>
  <%= link_to 'Cancel', root_url, class: 'btn' %>
<% end %>
