<h1>Giving</h1>
<h2>Organization</h2>
<ul class="unstyled">
  <li><%= link_to 'Organization Information', edit_organization_path %></li>
</ul>
<h2>Contributors</h2>
<ul class="unstyled">
  <li><%= link_to 'Manage Contributors', contributors_path %></li>
</ul>
<h2>Contributions</h2>
<ul class="unstyled">
  <li><%= link_to 'New Batch', new_batch_path %></li>
  <li><%= link_to 'All Batches', batches_path %></li>
  <li><%= link_to 'All Contributions', contributions_path %></li>
</ul>
<h2>Statements</h2>
<ul class="unstyled">
  <li><%= link_to 'Generate Statements', new_statement_path %></li>
</ul>
