<%= simple_form_for @contribution do |f| %>

  <%= f.input :contributor_id, required: true do %>
    <input type="text" id="contributor-name" name="contributor_name" autofocus="autofocus"
      value="<%= (@contribution.contributor ? @contribution.contributor.full_name : '') %>" />
    <input type="hidden" class="required" id="contribution_contributor_id" name="pending_contribution[contributor_id]"
      value="<%= (@contribution.contributor ? @contribution.contributor.id : '') %>" />
  <% end %>

  <script type="text/javascript">
    var contributors = <%= ActiveContributor.all.map { |c| { id: c.id, name: c.full_name } }.to_json.html_safe %>;
    $('#contributor-name').typeahead({
      source: contributors,
      itemSelected: function(item, val, text) {
        $('#contribution_contributor_id').val(parseInt(val, 10));
      }
    });
  </script>

  <%= f.input :date, as: :string, label: 'Date',
    input_html: { value: @contribution.date_string, class: 'datepicker' } %>
  <%= f.input :amount %>
  <%= f.input :payment_type, label: 'Payment Type', collection: [ 'Check', 'Cash', 'Other' ], selected: 'Check' %>
  <%= f.input :reference %>
  <div class="buttons">
    <%= f.button :submit, 'Save', :class => 'btn' %>
    <%= link_to 'Cancel', pending_contributions_path, :class => 'btn' %>
    <% if @contribution.id %>
      <%= link_to 'Delete', pending_contribution_path(@contribution),
        method: :delete,
        data: { confirm: 'Are you sure?' },
        class: 'btn' %>
    <% end %>
  </div>

<% end %>
