%tr
  %td= link_to 'Edit', smart_edit_contribution_path(contribution)
  %td= link_to contribution.contributor.name, edit_contributor_path(contribution.contributor)
  %td= contribution.date_string
  %td= contribution.payment_type
  %td= contribution.reference
  %td= number_to_currency(contribution.amount)
