<h1><%= @batch.title %> <small>Created <%= @batch.created_at_string %></small></h1>
<div id="contributions-inline-form">
  <%= render "shared/inline_form" %>
</div>
<div id="contributions" class="thick-top-margin">
  <%= render 'shared/contributions' %>
</div>
<p class="total-contributions">
  Total: <span id="total-contributions"><%= number_to_currency(@batch.total_contributions) %></span>
</p>
<%= link_to 'Batch Report PDF', batch_path(@batch, format: :pdf, d: 'inline'), class: 'btn btn-default' %>
<%= link_to 'Delete', batch_path(@batch),
  method: :delete,
  data: { confirm: 'Are you sure?' },
  class: 'btn btn-default' %>
