<%= simple_form_for @contributor, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :first_name, input_html: { autofocus: 'autofocus' } %>
  <%= f.input :last_name %>
  <%= f.input :address %>
  <%= f.input :city %>
  <%= f.input :state %>
  <%= f.input :zip %>
  <div class="buttons">
    <%= f.button :submit, 'Save', :class => 'btn' %>
    <%= link_to 'Cancel', contributors_path, :class => 'btn' %>
  </div>
<% end %>
