<%= simple_form_for @contributor, :html => { :role => "form" } do |f| %>
  <%= f.input :name, input_html: { autofocus: 'autofocus' } %>
  <%= f.input :address %>
  <%= f.input :city %>
  <%= f.input :state %>
  <%= f.input :zip %>
  <%= f.input :phone %>
  <%= f.input :email %>
  <%= f.input :notes, input_html: { rows: 4 } %>
  <div class="buttons">
    <%= f.button :submit, 'Save', :class => 'btn btn-default' %>
    <%= link_to 'Cancel', contributors_path, :class => 'btn btn-default' %>
    <% if @contributor.id %>
      <%= link_to 'Delete', contributor_path(@contributor),
        method: :delete,
        data: { confirm: 'Deleting this contributor will delete any associated contributions. Are you sure?' },
        class: 'btn btn-default' %>
    <% end %>
  </div>
<% end %>
